// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap";

.game-banner{
  background-color: rgb(238, 238, 137);
  display: flex;
  justify-content: space-between;

  flex-direction: row;
  flex-wrap: wrap;
  column-fill: auto;

}

.middle-bar {

  width: 20%;
  border-radius: 20px;
  height: 200px;

}

.left-bar{
  width: 30%;

  border-radius: 20px;
}

.right-bar {
  width: 50%;

  border-radius: 20px;
}

.all-cards-container {
  background-color: aliceblue;

}

.all-cards{


  font-size: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-fill: auto;
  justify-content: space-around;

}




.single-card{
  margin-top: 20px;
  border: 1px solid;
  border-radius: 10%;
  box-shadow: 5px 10px;
  padding: 15px;
  display: flexbox;
  width: 150px;
  height: 250px;
  justify-content: space-between;
  background-color: rgb(221, 222, 211);


  column-fill: auto;

}




.all-cards :hover{
  color: rgb(206, 46, 46);
  background-color: #0cf;
  text-decoration: none;
}

.gameover{
  text-decoration: none;
  padding: 100px;
  font-size: 100px;
  margin-bottom: 100px;
}

.give-up2{
  font: bold 30px Arial;
  width: 80px;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #cd7d7d;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  &:hover {
    text-decoration: none;
    color:rgb(206, 46, 46);
  }
}

.card-title{
  color: rgb(15, 75, 75);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  justify-content: center;
  display:flex;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color:rgb(206, 46, 46);
  }

}


.card-title-selected{
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f04343;
  justify-content: center;
  display: flex;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color:rgb(206, 46, 46);
  }

}

.card-number{
  display: flex;
  justify-content:center;
  margin-right: 10px;
  font-size: 70px;
  color:rgb(9, 20, 138);
}

.function-buttons{
  text-align: center;
  justify-content: center;
}

.game-buttons {
  display: inline-block;
  width: 180px;
  padding: .75rem 1.25rem;
  border-radius: 20rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#0cf, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

.game-buttons a{
  display: inline-block;
  border-radius: 20rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.game-buttons :hover{
text-decoration: none;
}
