// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.banner{
  background-color: antiquewhite;
}


.all-cards{

  background-color: rgb(211, 231, 255);
  font-size: 100px;
  display: flex;
  justify-content: space-around;
}

.single-card{
  color: blue
}

.single-card:hover{
  color: red;
}
